body {
  background: url("../img/background.png");
}

p, cite {
  font-family: "Garamond";
  color: brown;
  font-size: 16px;
}
h1, h2 {
  font-family: "Georgia";
  color: grey;
}

table, th, td {
  border: 1px solid black;
}

tr:hover {background-color: #ffffff;}

.form-control{
  border: 1px dotted #999;
  border-radius: 0;
  -webkit-appearance: none;
}

#main-box {
  border: 4px solid gold;
  border-radius: 6px;
  font-size: 16px;
}
a:link {
  color: red;
}
